# This notebook is for cleaning the data

### 1. Loading dataset

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("data/it_asset_inventory_enriched.csv", dtype=str, keep_default_na=False)
print(f"Dataset contains {len(df)} rows")
df.head(5)

Dataset contains 365 rows

,hostname,country,operating_system_name,operating_system_provider,operating_system_installation_date,operating_system_lifecycle_status,os_is_virtual,is_internet_facing,image_purpose,os_system_id,performance_score
0,host-6930,UK,SUSE Linux,RedHat,2016-02-10,Planned,True,Yes,Production,SYS-30313,55.48
1,host-6337,,Ubuntu 22.04,Amazon,2021-11-29,EOL,True,No,Testing,SYS-69014,51.78
2,host-5326,BRAZIL,CentOS 7,,2010-12-22,EOS,False,No,Testing,SYS-78027,97.43
3,host-2279,usa,,RedHat,2010-11-02,EOL,True,Yes,DR,SYS-88988,94.06
4,host-8713,INDIA,RHEL 8,Google,2021-10-23,EOL,False,Yes,DR,SYS-29294,91.04

### 2. Remove duplicates

In [11]:
before = len(df)
df = df.drop_duplicates(subset=["hostname"], keep="first")
print(f"Removed {before - len(df)} duplicate rows")

Removed 37 duplicate rows

### 3. Trim whitespace

In [12]:
for c in df.columns:
    if pd.api.types.is_string_dtype(df[c]):
        df[c] = df[c].astype(str).str.strip()

### 4. Replace empty or NaN with 'Unknown'

In [13]:
df = df.replace(r"^\s*$", np.nan, regex=True).fillna("Unknown")

### 5. Normalize date column

In [14]:
date_col = "operating_system_installation_date"

parsed = pd.to_datetime(df[date_col], errors="coerce", utc=False, format="mixed")
df[date_col] = parsed.dt.strftime("%Y-%m-%d").fillna("Unknown")

### 6. Save cleaned dataset

In [15]:

df.to_csv("data/it_asset_inventory_cleaned.csv", index=False)
print(f"Saved cleaned CSV to: data/it_asset_inventory_cleaned.csv")

Saved cleaned CSV to: data/it_asset_inventory_cleaned.csv